[user]
  name = jackhogg97
  email = jackhogg1997@gmail.com
[init]
  default = main
  defaultBranch = main
; Note this doesn't work with xcode
[url "git@github.com:"]
  insteadOf = https://github.com/
[commit]
  verbose = true # show diff in comments at bottom of commit message
[rebase]
  instructionFormat = "%s (%an)"
  autostash = true
  updateRefs = true
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[branch]
  sort = -committerdate
[maintenance]
  auto = false
  strategy = incremental
[rerere]
  enabled = true
[alias]
  lo = log --oneline
  co = checkout
  pf = push --force-with-lease
  d = diff
  dc = diff --cached
  fx = "!git log --no-merges main.. --pretty=format:'%h %s' | fzf | cut -c -7 | xargs -o git commit --fixup && git rebase --autosquash origin/main"
